@inherits UmbracoViewPage

<footer>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <!-- [About Us] -->
            <div class="well">
              <h4>@Model.GetProperty("footerHeading").GetValue()</h4>
              <p>
                @Model.GetProperty("footerDescription").GetValue()
              </p>
            </div>
            <!-- [/About Us] -->
          </div>
          <div class="col-md-4">
            <!-- [Meta Navigation] -->
            <ul class="nav nav-stacked">
              <li>
                <a href="Content-page.html" title="Legal Notice">Legal Notice</a>
              </li>
              <li>
                <a href="Content-page.html" title="Privacy Policy">Privacy Policy</a>
              </li>
              <li>
                <a href="Content-page.html" title="Terms and Conditions">Terms and Conditions</a>
              </li>
            </ul>
            <!-- [/Meta Navigation] -->
          </div>
        </div>
      </div>
      <div class="footer-bottom text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <!-- [Copyright] -->
              <small class="copyright">
                <span>@Model.GetProperty("copyright").GetValue()</span>
              </small>
              <!-- [/Copyright] -->
            </div>
          </div>
        </div>
      </div>
    </footer>